
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styles spécifiques */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
  }

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0B3E27;
}

header img {
    width: 5%;
    margin-left: 2rem;
}

nav {
    margin: 1.5rem;
}

nav a {
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.btn-panier {
    display: flex;
    margin-top: 1rem;
    margin-right: 2rem;
    border: 1px solid black;
    padding: 0.7rem;
    margin-bottom: 1rem;
    background-color: #ADFF45;
}

.btn-panier .iconify {
    padding-right: 0.5rem;
}

.btn-panier h3 {
    font-size: 1rem;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: black;
}



.ns {
    margin-top: 9rem;
}

.ns h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.ns a {
    text-decoration: none;
    background-color: #ADFF45;
    padding: 1rem;
    border-radius: 25px;
    color: white;
    margin: 9rem;
}

  
  .hero {
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-content {
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;}
  
  .featured-products {
    text-align: center;
    padding: 40px;
    height: 800px;
  }
  
  .featured-products h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product-list {
    display: flex;
    justify-content: center;
  }
  
  .product-card {
    margin: 0 10px;
    text-align: center;
  }
  
  .product-card img {
    width: 400px;
    height: 500px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #0B3E27;
    padding: 10px;
    text-align: center;
    color: white;
  }
  footer img{
    height: 70px;
  }
  .catégorie {
    background: linear-gradient(#CEE6DD,#5A947A,#0B3E27);
   width: 100%;
   text-align: center;
   font-size: 30px;
  }

  .catégorie img{
    height: 350px;
    margin: 250px 1600px 200px 20px;
  
  }
  .catégorie h1{
    margin: 100px;
  }
  .catégorie h2{
    margin: 100px;
  }
  .catégorie p {
    font-size: 30px;
  }

 