* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0B3E27;
  }
  
    /* BURGER */
  
    .nav {
      width: 100%;
      height: 80px;
        background-color: #0B3E27;
        position: relative;
    }
    .nav>.nav-header {
        display: inline;
    }
    .nav>.nav-header>.nav-title {
        display: inline-block;
        font-size: 28px;
        font-weight: 700;
        color: #fff;
        margin-top: 9px;
        padding: 10px 10px 10px 10px;
    }
    .nav>.nav-btn {
        display: none;
    }
    .nav>.nav-links {
        display: inline;
        float: right;
  
  
        font-size: 18px;
    }
    .nav>.nav-links>a {
        display: inline-block;
        padding: 10px 20px 13px 10px;
        margin-top: 14px ;
        text-decoration: none;
        font-size: 22px;
        font-weight: 700;
        color: #efefef;
    }
    .nav>.nav-links>a:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav>#nav-check {
        display: none;
    }
    @media (max-width:600px) {
        .nav>.nav-btn {
            display: inline-block;
            position: absolute;
            right: 0px;
            top: 0px;
        }
  
        .nav>.nav-btn>label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;
        }
  
        .nav>.nav-btn>label:hover,
        .nav #nav-check:checked~.nav-btn>label {
            background-color: rgba(0, 0, 0, 0.3);
        }
  
        .nav>.nav-btn>label>span {
            display: block;
            width: 25px;
            height: 10px;
            border-top: 2px solid #eee;
        }
  
        .nav>.nav-links {
            position: absolute;
            display: block;
            width: 100%;
  
            background-color: #333;
            height: 0px;
            transition: all 0.3s ease-in;
            overflow-y: hidden;
            top: 50px;
            left: 0px;
        }
  
        .nav>.nav-links>a {
            display: block;
            width: 100%;
        }
  
        .nav>#nav-check:not(:checked)~.nav-links {
            height: 0px;
        }
  
        .nav>#nav-check:checked~.nav-links {
            height: calc(100vh - 50px);
            overflow-y: auto;
        }
    }

.pro h2{
    width: 20%;
    justify-content: center;
    text-align: center;
    margin: 3rem;
    padding: 1rem;
    background-color: #d4d4d4;
    margin-left: 40%;
    margin-bottom: 2rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
}

.ggrid {
    width: 31%;
    margin: 1%;
    display: flex;
    background-color: #ffffff;
}

.grid a {
    display: flex;
}


.ggrid h3 {
    margin-top: 5rem;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

.ggrid img {
    width: 80%;
    margin-left: 4rem;
    height: 60%;
}

.descrip p {
    margin-left: 2rem;
    font-weight: 100;
    font-family: cursive;
}



/* ---------------------- FOOTER ------------------------ */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #0b3e27;
  }
  .footer h3 {
    color: white;
  }
/* --------------__ ------------ RESPONSIVE ----------___--------- */

@media screen and (max-width: 1175px) {
    .ggrid {
        width: 70%;
        margin-left: 15%;
        display: flex;
        background-color: #d4d4d4;
    }

    .ggrid img {
        width: 15%;
        margin-left: 5rem;
    }
    

    .grid a {
        display: flex;
    }

}

@media screen and (max-width: 929px) {
    #montreban {
        display: none;
    }

    .banniere {
        background: url(/img/montreban.png);
        width: 100%;
        height: 55vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .ns h1 {
        font-size: 6rem;
        color: white;
        margin-bottom: 2rem;
    }

    .pro h2 {
        font-size: 1.3rem;
        width: 30%;
        margin-left: 35%;
    }

    .grid a {
        display: flex;
    }
    
}